.row{width: 500px;
height: 520px;
background-color: white;
justify-content: center !important;
align-items: center !important;
margin: auto !important;
margin-top: 30px;
border: 1px solid;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

body,.bg{
 background:linear-gradient(to right, rgb(167, 90, 214) , rgb(192, 64, 128));
}
.container{display: flex !important;}